<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%=render("api/users/user.json.jbuilder", user: current_user).html_safe%>
  </script>
<% end %>

<script>
  window.images = {
   
    memoirs: "<%=asset_path("Deborah/Memoirs.jpg")%>",
  }
</script>
<div id="root">
    <h1>React is not working</h1>
</div> 