.reviewAuthorUsernameComment{
    font-weight:bold;

}

.tempComment{
    color:#181818;
    line-height:1.2;
}

.commentTime{
    color:#999999;
    margin-left:0px;
}

#RevIndexMsg{
    margin-left:6px;
}

.commentDelete{
    font-size:12px;
}

.commentDelete:hover{
    cursor: pointer;
    text-decoration: underline;
}

.blackDot{
    color:#181818;
    font-weight:bold;
}

.prompt:hover{
    cursor: pointer;
    text-decoration: underline;
}


#defaultProfilePicComment{
    
    margin-left:0px;
    margin-right:0px;
    padding:5px;
    padding-right:0px;
    margin-top:0px;
    padding-left:0px;
    
}