
*{
  font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;
}


.splashHeaderContainer{
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    // text-align: center;
    color: white;   
    display:block;
    display:grid;
    // grid-template-columns:30% 20% 50%;
    //to accommodate for the demo user button
    grid-template-columns:30% 10% 60%;
}



//all the top part -- with the 
h1.splash{
  font-size: 40px;  
  color: #382110;
  cursor:pointer;
  text-align:left; 

}

h1.splash a{
  text-decoration: none;
  
}

#great{
  color: #706b5f;
  font-weight: lighter;
}

#Reads{
  color: #382110;
  font-weight:345;
}

nav.topLeftSplash {
  display: flex;
  // background-color: green;
  padding: 10px;
  // opacity: 50%;
  // position: absolute;
  top: 5px;
  left: 10px;
  margin-left:10%;
  z-index:2;
}

nav.centerSplash{
  display:flex;
  
}

nav.topRightSplash {
  display: flex;
  // background-color: green;
  padding: 5px;
  // opacity: 50%;
  // position: absolute;
  top: 10px;
  right: 16px;
  margin-right:5%;
  margin-top:2%;
  z-index:2;
}

//input types styling
input[type=text], input[type=number], input[type=email], input[type=password],input[type=search],textarea{
  // padding: top/bottom left/right
  padding: 3px 7px;
  border-radius:3px;
  border: 1px solid #DCD6CC;
  text-align:start;
  background-color: #e8f0fe;
  resize: none;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus,input[type=search]:focus,textarea:focus{
  // box-shadow: 0 0 5px rgba(81,203,238,1);
  box-shadow: 0 0 5px #fdd05f;

  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  border: 1px solid #fdd05f;


}
//Sign in button
.gr-button-dark{
  background-color: #382110;
  border: 1px solid #382110;
  color:white;
  font-weight: normal;
}

.gr-button{
  border-radius: 3px;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
  cursor:pointer;
  display:inline-block;
  //line height, the amont of space above and below text on a line
  line-height:1;
  padding: 8px 12px;
}

.gr-button-dark:hover {
  background-color:#694c21;
}

  .splashButtons{
    margin-left:60%;  
  }
  
 #headerDiv{
  // border:2px solid black;
  background-image: asset-url('masthead_background.jpg');
  position:static;
  height:370px;
  background-position:center;
  background-repeat:repeat-x;
  // z-index:200;
}

  img.splash{
    // background-size:contain;
    position:absolute;
    height:370px;
    background-position:center;
    background-repeat:repeat-x;
    
  }

  // /* for the navigation bar links */
  // .nav a {
  //   color: white;
  //   font-size: 20px;
  //   padding: 14px 60px; /*14px padding on top and bottom, 60px in between */
  //   text-decoration: none;
  //   text-align: center;
  // }
  
  // /* Change color on hover for navigation bar links */
  // .nav a:hover {
  //   background-color: blue;
  //   color: white;
  // }
  
 
//Meet your next fav book and sign up form
  .rowInlineBlock{
    // border:3px solid blue;
    display:inline-block;
    width:100%;
    box-sizing: border-box;
  }

  div.header30{
    width:60%;
    // border:3px solid red;
    float:left;
  }

  img.headerSignUp{
    // border: 3px solid black;
    z-index:2;
    margin-top:10%;
    margin-left:5%;
    // width:75%;
  }  

  div.headerSignUp{
    // border: 3px solid purple;
    display:flex;
    margin-top: 3.5%;
    // padding:10px 10px;
    width:35%;
    z-index: 2;
    float:left;
  }

  h2.headerSignUp{
    // border: 3px solid black;
    font-size:20px;
    z-index:2;
    color:black;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 2;
  }

  input{
    margin-bottom: 5px;
  }

  .signedOutHome .newAccountBox{
    padding: 8px;
    border: 0px;
    background-color: #fdd05f;
    font-size:18px;
    line-height:22px;
    width:85px;
    border-radius:4px;
    cursor:pointer;
  } 

  .signedOutHome:hover{
    border:#f5f062;
  }

  .newAccountBox:hover{
    background-color:#f5f062;
  }
  
  .newAccountBox {
    padding: 8px;
    border: 0px;
    background-color: #fdd05f;
    font-size:18px;
    line-height:22px;
    width:85px;
    border-radius:4px;
    cursor:pointer;
    
  }

  //to hold the Sign Up Button and Terms of Service
  #signUpButtonAndService{
    display:flex;
  }

  //terms of service paragraph
  #termsOfService{
    color: #382110;
    font-size:11px;
    // border: 1px solid black;
    line-height:1.1;
    margin-top:0px;
    padding-left:8px;
    margin-right:17%;
  }

  //just bolding the words "Terms of Service"
  .boldTermsOfS{
    font-weight:400;
  }

  // #nameSignUpForm{
  //   background-color:white;
  // }

  .errorsDisplay{
    // border: 3px solid red;
    color: #382110;
    list-style-type:none;
    font-size:13px;
    margin-left:2%;
  }

  .errorsLoginDisplay{
    color: #382110;
    list-style-type:none;
    font-size:13px;
    margin-left:2%;
    border: 3px solid red;
  }

  .errorsSignInDisplay{
    color: #382110;
    list-style-type:none;
    font-size:13px;
    margin-left:2%;
    border: 3px solid red;
    width:auto;
  }
 

  // once logged in
  .welcomeNlogout{
    margin:2%;
    line-height:1.5;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;

  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img.headerSignUp{
    width:60%;
    margin-left:20%;
  }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img.headerSignUp{
    width:70%;
    margin-left:14%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img.headerSignUp{
    width:80%;
    margin-left:10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img.headerSignUp{ 
    width:60%;
    margin-left:10%;
  }

  #termsOfService{
    margin-right:21%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  img.headerSignUp{ 
    width:50%;
    margin-left:10%;
  }


  #termsOfService{
    margin-right:40%;
  }
}

  