.ratingOuterDiv * {
  // border: 1px solid black;
}

.ratingOuterDiv{
  // border:1px solid purple;
  float:left;
  margin:1.79px;
}

.rateForm{
  // border:1px solid blue;
}

.rateStar{
    // border:1px solid red;
    // float:left;
    height:25px;
    height:21px;
    // padding: 10px 10px;
    width:120px;
    width:102px;
    width:91px;
    font-size:16px;
    margin:0px;
    

    
  }
  
  /* for purpose so radio buttons won't show*/
  .rateStar:not(:checked) > label{
     float:right;
     width:1.1em;
     overflow:hidden;
     white-space:nowrap;
     cursor:pointer;
     color: #aaa;
     margin:0px;
  }
  .rateStar:not(:checked) > label:before{
    content:'★ ';
  }
  
  .rateStar:not(:checked) > input {
    position:absolute;
    top:-9999px;
    border: 1px solid black;
  }
  
  .rateStar > input:checked ~ label{
    color:#FFAD08;
    margin:0px;
    
  }
  
  .rateStar:not(:checked) > label:hover,
  .rateStar:not(:checked) > label:hover ~ label{
    /* color slightly lighter */
    color:#FFC908;
    color:#00635d;
    margin:0px;
    
  }
  
  .rateStar > input:checked + label:hover,
  .rateStar > input:checked + label:hover ~ label,
  .rateStar > label:hover ~ input:checked ~ label{ 
      color:#FFC908;
      color:#00635d;
      margin:0px;
  }
  

/*
*********************************************
------------RATING STATS CSS----------------
*/

//REVIEW INDEX -- styling for individual reviews 
 
//static stars for each individual review
  .yellow{
    color:#FFAD08;
    // border:1px solid black;
    margin:0%;
   
  }

  .grey{
    color: #aaa;
    margin:0px;
  }
  
  .staticStarsPic{
    letter-spacing:1px;
  }

  .yellow1{
    color:#e7711b;
  }


  //FOR THE RATING STATS GRAPH
  .ratingStatsDiv * {
    // border:1px solid black;
    // margin:0%;
  }


  dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
    margin-left:115px;
  }

  
  //for the rating number in front of the bar
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 20px;
    height:10px;
    width: 130px;
    width:123px;
    // width:140px;
    background-color: white;
    position: absolute;
    left: 0;
    justify-content: flex-end;
    z-index:1;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;

  }

  .ratingChartFirstLine{
    width:100%;
  }
  
  .ratingChartTitle{
    float:left;
    font-weight: 500;
    align-items:left;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    color: #382110;
    font-size:16px;
    padding-top:0px;
    padding-left:10px;
    // display:inline-block;
    // border: 1px solid green;
    width:40%
  }

  .closeButton{
    font-size:20px;
    // border: 1px solid red;
    width: 28px;
    float:right;
    line-height:.6;
    margin-top:0px;
    margin-right:15px;
    background-color: #d6d0c4;
    border-radius:3px;
    font-weight:500;
    color:#382110;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 2px;
    cursor:pointer;
    
  }
  

  //For the i.e. 5% (20) on the ratings chart
  .graphPercent{
    font-weight: 400;
    color: #666666;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  }
  

  .percentage {
    font-size: .8em;
    line-height: 1;
    border: .5px solid lightgrey;
    text-transform: uppercase;
    width: 70%;
  
    height: 20px;
    margin-left: 130px;
    margin-left: 120px;
    background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%,
    
  );
    
    &:after {
      content: "";
      display: block;
      background-color: #3d9970;
      width: 0px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      &:after {
         background-color: #aaa; 
      }
    }
  }
  
  @for $i from 1 through 100 {
    .percentage-#{$i} {
      &:after {
        $value: ($i * 1%);
        width: $value;
      }
    }
  }

 .ratingsChartDiv{
   border:8px solid #d6d0c4;
   border-radius:7px;
   width:90%;
   margin-top:0px;
   padding:0px;
 }


//triange created using css
 .arrow-up {
   width: 0; 
   height: 0; 
   border-left: 9px solid transparent;
   border-right: 9px solid transparent;
   
   border-bottom: 13px solid #d6d0c4;
   margin:0px;
   margin-left:36%;
 }
 
 

  
  html, body {
    height: 500px;
    font-family: "fira-sans-2",sans-serif;
    color: #333;
  }


//RATING AVERAGE PER BOOK. 
//PERCENTAGE BASED STAR RATING (FOR AVE RATING)
// Method1: using css and percentages
.star-ratings-css {
  display:inline-block;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 19px;
  height: 25px;
  width: 105px;
  margin:0%;
  position: relative;
  padding: 0;
  // text-shadow: 0px 1px 0 #a2a2a2;
  // border: 1px solid black;

  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    margin:0%;
    margin-left:1px;
    // border: 1px solid blue;
  }
  &-bottom {
    font-size:18.5px;
    padding: 0;
    display: block;
    z-index: 0;
    margin:0%;
    // border: 1px solid green;
  }
}

.ratingValue{
  font-size:12px;
  color:#181818;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-left:0px;
  margin-right:0px;
}

.greyText{
  color:#999999;
  margin-left:0px;
  margin-right:0px;
  font-weight:700;
}

// .rating_graph span, #rating_graph span{
//   vertical-align: middle;
//   border: 1px solid #DED;
//   // margin-top: -2px;
//   padding: 2px;
//   padding-left:0px;
//   line-height:0;
// }


.rating_graph, .rating_graph{
  cursor:pointer;
  vertical-align: middle;
  padding-left:0px;
  margin-left:0px;
  margin-right:0px;
}


.graphIcon{
    width:22px;
    height:22px;
    border:1px solid #DED;
    padding:2px;
    padding-right:0px;
}

a#rating-details.ratingDetailsLink:active{
  background-color:white;
}

.ratingDetailsText{
  margin-left:0px;
  margin-right:0px;
  font-size:12px;
  color: #00635D;
  cursor:pointer;
}

.revRateStats{
  font-size:12px;
  color: #00635D;
}

