.mainSplash * {
    // border: 1px black solid;
    box-sizing:border-box;
    position:relative;
    z-index:-1;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}


.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float:left;
    padding:15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-book {
    width:22%;
    // place-content:flex-end;
}
.col-book2{
    width:45%;
}
.col-arrow{width:10%}
.col-relateds{width:20%}

.brown{
    height:4%;
    background-color: #f4f2e9;
    margin-top:0px;
}

h2.mainSplash{
    font-size:20px;
    padding-bottom: 15px;
    padding:10px;
}

p.mainSplash{
    padding:10px;
    margin-bottom:5%;
}

#discoveryBox{
    clear: both;
    border-radius:10px;
    padding: 15px 5px 20px 5px;
    background-color: #f4f2e9;
    margin: 0px 10px 0px 10px;    
}

.flex-books{
    display:flex;
    align-items:flex-end;
    height:100%;
    z-index:7;
    
}

.flex-book2{
    display:flex;
    align-items:flex-end;
    // height:100%;
    margin-top:3%;
}

.col-arrow{
    align-self:center;
}

.bookCategories{
    align-self:flex-start;
}

.grid1{
    height:10%;
    z-index:-100;
    background-color: tan;
    background-image: linear-gradient(rgb(44,42,37),tan);
    background-image: linear-gradient(rgb(117,114,96,),rgb(224,242,233));
    background-image: linear-gradient(rgb(110,85,42),rgb(224,242,233));
    border-bottom:2px solid rgb(110,85,42);
    padding:0px;
    margin:0px;
    margin-top:16%;
}

