
/* for the navigation bar */
/*flex box */
.genNavBarLoggedIn {
    display: flex;
    background-color: #F4F1EA;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;
    padding-right:30%;
    padding-left:30px;
    align-items:left;
  }
  
  /* for the navigation bar links */
  .genNavBarLoggedIn a {
    color: #382110;
    font-size: 16px;
    padding: 13px 20px 13px 20px; /*14px padding on top and bottom, 60px in between */
    text-decoration: none;
    text-align: center;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif; 
  }
  
  
  /* Change color on hover for navigation bar links */
  .genNavBarLoggedIn a:hover {
    background-color: #382110;
    color: #F4F1EA;
  }

.searchBookInput{
    margin: 4px 0px 5px 0px;
}


h1.navLogo{
    padding-top:7px;
    color: #382110;
    cursor:pointer;
    text-align:left; 
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;   
    margin-right:10px;
}

.navLogo a:hover {
    background-color:transparent;
  }

#great{
    color: #706b5f;
    font-weight: lighter;
    font-size:30px;
  }
  
  #Reads{
    color: #382110;
    font-weight:345;
    font-size:30px;
  }