.updateProfileForm *{
    // border:1px solid green;
    // background-color:pink;
}

.updateProfileForm{
    padding-left:40px;

}

.profileFormTextInput{
    color:#767676[]
}

.profileFormLabels{
    line-height:1.5;
}

.updateProfileForm > input{
    margin-bottom:5px;
}

input[type=file]:hover::before{
    background-color: pink;
    border:1px solid red;
}



.updateProfileButton{
    border-radius: 3px;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height:1;
    padding: 8px 12px;
    background-color: #409D69;
    border: 1px solid #409D69;
    font-weight:normal;
    color:white;
    margin-bottom:7px;
}


.file_input_div{
    height:30px;
    margin-bottom:3px;

}

#fileName{
    background-color:white;
    border:none;
}

#fileCoverButton{
    position:relative;
    left:0px;
    background-color:white;
    padding: 4px 7px;
    font-size:13px;
    border-radius:3px;
}


#fileCoverButton:hover{
    cursor:pointer;
}

input.profileFormInputTypeFile{
    margin-bottom: 6px;
    background-color:pink;
    opacity:0;
    position:relative;
    left:0px;
    top:-22px;
    
}


.updateProfileErrors > li{
    padding-top:2px;
}

.photoPreview > img{
    width:55%;
    padding-top:5px;
    margin-bottom:10px;
    border-radius:5px;
    width:245px;
    height:300px;
    object-fit:cover;
    // border-radius:10px;
}