
/* for the navigation bar */
/*flex box */
.genNavBar {
    // position:fixed;
    
    background-color: #F4F1EA;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;
    padding-right:0px;

  }

  #genNavBarLoggedInNotHome{
    display:list-item;
    padding:0;
  }

  

  .genNavBarLoggedIn{
    background-color: #F4F1EA;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;
    padding-right:0px;
    padding-left:1%;
  }
  
  /* for the navigation bar links */
  .genNavBar a {
    color: #382110;
    font-size: 16px;
    padding: 13px 40px; /*14px padding on top and bottom, 60px in between */
    text-decoration: none;
    text-align: center;
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif; 
  }
  
  
  /* Change color on hover for navigation bar links */
  .genNavBar a:hover {
    background-color: #382110;
    color: #F4F1EA;
  }

.searchBookInput{
    margin: 4px 0px 5px 0px;
    width:250px;
    margin-top:8px;
    height:25px;

}


h1.navLogo{
    padding-top:7px;
    color: #382110;
    cursor:pointer;
    text-align:left; 
    font-family:  Lato, "Helvetica Neue", Helvetica, sans-serif;   
    margin-right:10px;
}

.navLogo a:hover {
    background-color:transparent;
  }

#great{
    color: #706b5f;
    font-weight: lighter;
    font-size:30px;
  }
  
  #Reads{
    color: #382110;
    font-weight:345;
    font-size:30px;
  }


  //Search Bar
  .searchBar * {
    // border: 1px solid green;
  }

  .searchBar{
    position:relative;
    top:2px;
  }

  .searchBookLI{
    border:1px solid #DCD6CC;
    width:263px;
  }

  .searchBarUL{
    position:absolute;
    box-sizing:border-box;
    top:36px;
    left:0px;
    width:300px;
    z-index:3;
  }

  .searchBookRow{
    background-color:white;
  }

  .searchBookRow:hover{
    background-color:#F4F1EA;
    cursor: pointer;
  }

  .searchBookPhoto{
    width:25px;
    padding:3px;
    padding-left:5px;
    padding-right:0px;
  }

  .searchBookTitleLi{
    padding:0px;
    padding-left:5px;
    padding-top:7px;
    width:218px;
    color:#382110;
  }

  .searchBookPhoto > img{
    width:100%;
  }

  .profileIconLink{
    border-radius:19px;
    width:30px;
    height:30px;
    margin-top:7px;
    border:1px solid #D8D8D8;
    border: 1px solid #c9c9c9;
    // border: 1px solid #47311d
   
  }

  


  .profileIconLinkSpan{
    padding-left:8px;
    padding-right:8px;
    position: relative;
  }

  .profileIconLinkSpan:hover{
    background-color:#382110;  
  }

  //for when the user dropdown is open
  .profileIconLinkSpanDark{
    background-color:#382110;  
    padding-left:8px;
    padding-right:8px;
    position:relative;

  }

  .profileIconLinkSpan:hover > img{
      border: 1px solid #F4F1EA;
      
    
  }

  .profileDropDownUL{
    position:absolute;
    top:46px;
    width:200px;
    right:0px;
    padding:8px 0;
    // border:1px solid green;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    z-index:7;
    background-color:white;
  }

  .profileDropDownUL > li{
    color:#333333;
    font-size:15px;
    line-height:32px;
    padding: 0 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  }

  #navbarProfileUsername{
    font-weight:bolder;
    text-transform: uppercase;
  }

  #navbarProfileLink{
    color:#333333;
    font-size: 15px;
    line-height:32px;
    padding:0px;
    // border:1px solid purple;
  }

  #navbarProfileLink:hover{
    text-decoration: underline;
    background-color:white;
  }



  .navBarHalves{
    width:100%;
    display:flex;
    // border:1px solid green;
    border-bottom: 1px solid #D6D0C4;
    
  }

  #half1{
    justify-content: space-between;
  }

  #half2{
    justify-content: center;
  }


  #half1LoggedIn{
    justify-content: space-between;
    padding-left:2%;
  }

  #half2LoggedIn{
    justify-content: center;
  }


  #signInNavBarLink{
    margin-left:0px;
  }


  
@media only screen and (min-width:800px){

  #signInNavBarLink{
    margin-left:30px;
  }

  #half1LoggedIn{
    padding-left:2%;
  }
  
}

@media only screen and (min-width:1000px){

  #signInNavBarLink{
    margin-left:80px;
  }
  
}

@media only screen and (min-width:1250px){
  #genNavBarLoggedInNotHome{
    display:flex;
    padding-right:1%;
  }
  .genNavBar{
    display:flex;
    padding:2%;
    padding-top:0px;
    padding-bottom:0px;
  }

  .genNavBarLoggedIn a {
    padding:13px 25px;

  }

  .genNavBarLoggedIn{
    display:flex;
    padding:0px;
    padding-left:1%;
    justify-content:space-around;
    
  }

  #genNavBarLoggedInNotHome{
    padding-left:1%;
  }


  .navBarHalves{
    width:50%;
    display:flex;
    border-bottom: none;

    // border:1px solid purple;
  }


  #signInNavBarLink{
    margin-left:0px;
  }

 
//logged in
  #half1LoggedIn{    
    width:70%;
    justify-content:space-between;
  }

  #half2LoggedIn{
    width:50%;
    justify-content:space-between;
  }



}


  


// div.navLinks:hover{
//     background-color: #382110;
//     color:#F4F1EA;
//     height:inherit;
// }


// .row::after{
//     content: "";
//     clear: both;
//     display: table;
// }

// [class*="col-"]{
//     float:left;
//     padding:10px 10px;
// }


// .col-1 {width: 8.33%;}
// .col-2 {width: 16.66%;}
// .col-3 {width: 25%;}
// .col-4 {width: 33.33%;}
// .col-5 {width: 41.66%;}
// .col-6 {width: 50%;}
// .col-7 {width: 58.33%;}
// .col-8 {width: 66.66%;}
// .col-9 {width: 75%;}
// .col-10 {width: 83.33%;}
// .col-11 {width: 91.66%;}
// .col-12 {width: 100%;}


// // .genNavUl ul{
// //     list-style-type:none;
// //     margin:0px;
// //     padding:0px;
// //     overflow:hidden;
// //     background-color:#F4F1EA;
// // }

// // li{
// //     float: left;
// // }

// .genNavBar a{
//     display: block;
//     color: #382110;
//     // text-align:center;
//     // padding: 14px 16px;
//     // background-color:blue;
//     text-decoration: none;
    

// }


// .col-1{
//     height:100%;
//     // margin:0px;
// }

// .navLinks{
//     height:100%;
// }

// .navLinks:hover{
//     background-color:#382110;
//     color:#F4F1EA;
//     height:100%;
// }


