.allTheBooks *{
    // border:1px solid black;
}

.booksIndexH1{
    font-size:40px;
    font-family: "Merriweather", "Georgia", serif;
    color: #382110;
    margin: 2%;
    

}

.flexBooks{
    display:flex;
    flex-wrap:wrap;
    background-color: #f4f1ea;
    align-items:flex-end;
}

.flexBooks div{
    width:15%;
    // height:10%;
    margin:1.5%;
    margin-top:2%;
    padding:10px;
    padding: 0px;
    // line-height:75px;
    font-size:20px;
    // border:1px solid black;
    // border: 5px solid #382110;
    text-decoration: none;
}
.spaceBetween{
    height:10px;
}

.flexBooks div a{
    text-decoration:none;
    font-size:14px;
    color:#00635d;
    line-height: .7;
    // border:1px solid blue;   
}

.bookCovDiv img{
    height:300px;
    height:75%;
}

.bookCovDiv{
    //put a set height to try to get all books same size
    height:400px;
    text-align:center;
    font-weight:bold;
}

.bookIndexImg{
    width:100%; 
    max-height:415px;
    box-shadow: 2px 2px 4px #1d1c1c;
}










   
